.titre {
    color: #18303F;
    text-align: center;
}
p {
    color: #2C5459
}

h1 {
    color: #406D72
}

.align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.link {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%
}
.more {
    text-align: center
}
body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat
}
video {
    display: block;
    margin: 0 auto;
}